@using la_mia_pizzeria_crud_mvc
@model PizzeCategories

<div class="container">

    <form asp-controller="Pizza" asp-action="Create" method="post">

        @Html.AntiForgeryToken()
        <div class="mb-3">
            <strong>Nome:</strong>
            <input asp-for="Pizza.Nome" class="d-block w-100" />
        </div>
        <div class="mb-3">
            <strong>Descrizione:</strong>
            <input asp-for="Pizza.Descrizione" class="d-block w-100" />
        </div>
        <div class="mb-3">
            <strong>Foto:</strong>
            <input asp-for="Pizza.Foto" class="d-block w-100" />
        </div>
        <div class="mb-3">
            <strong>Prezzo</strong>
            <input asp-for="Pizza.Prezzo" class="d-block w-100" />
        </div>
        <div class="mb-3">
            <strong>Categoria:</strong>
            <select asp-for="Pizza.CategoryId" rows="10" class="d-block w-100">

                @foreach (Category category in Model.Categories)
                {
                    @if (Model.Pizza.CategoryId == category.Id)
                    {
                        <option value="@category.Id" selected>@category.Name</option>
                    }
                    else
                    {
                        <option value="@category.Id">@category.Name</option>
                    }
                }
            </select>
            <span asp-validation-for="Pizza.CategoryId" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <strong>Ingredienti:</strong>
            <select multiple="multiple"
                    asp-for="SelectedIngredienti"
                    size="10"
                    class="form-control mb-2 mr-sm-2 ml-sm-3 leftList">
                @foreach (Ingredienti ingredienti in Model.Ingredients)
                {
                    <option value="@ingredienti.Id">@ingredienti.Name</option>
                }
            </select>
        </div>
        <div class="col-12">
            <button class="btn btn-primary" type="submit">Create</button>
        </div>


    </form>

</div>